# Exercise 1

In [ ]:
import os
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', 20)

In [ ]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

### Q1: 埼玉県で一番小さい面積の市町村を調べる

In [ ]:
# " "のなかにSQL文を記述
sql = """SELECT name_2, ST_Area(geom::geography) / 1000000 AS area_km2
FROM adm2
WHERE name_1 = 'Saitama'
ORDER BY area_km2 ASC
LIMIT 1"""

In [ ]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

### Q2. 都道府県ごとに一番大きい面積を有する市町村を調べる

In [ ]:
# " "のなかにSQL文を記述
sql = """WITH ranked_areas AS (
    SELECT 
        ROW_NUMBER() OVER (
            PARTITION BY name_1
            ORDER BY ST_Area(geom::geography) / 1000000 DESC
        ) AS rank,
        name_1,
        name_2,
        ST_Area(geom::geography) / 1000000 AS area_km2
    FROM 
        adm2
)
SELECT 
    name_1,
    name_2,
    area_km2
FROM 
    ranked_areas
WHERE 
    rank = 1;
"""

In [ ]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

### Q3. 都道府県ごとに市町村の総数が多い順に並べる

In [ ]:
# " "のなかにSQL文を記述
sql = """SELECT name_1, COUNT(*) AS total_cities
FROM adm2
GROUP BY name_1
ORDER BY total_cities DESC;"""

In [ ]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

### Q4. 都道府県ごとに村の総数が多い順に並べる

In [ ]:
# " "のなかにSQL文を記述
sql = """
SELECT name_1, COUNT(*)
FROM adm2
WHERE type_2 = 'Mura'
GROUP BY name_1
ORDER BY COUNT DESC

"""

In [ ]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)